.react-datepicker {
  font-family: var(--bs-body-font-family) !important;
}

.react-datepicker__month-read-view--down-arrow {
  top: 3px !important;
}

.react-datepicker__current-month {
  display: none;
}

.react-datepicker-wrapper {
  width: 100%;
}

@import "~/react-datepicker/src/stylesheets/datepicker.scss";
