.cursor-pointer {
  cursor: pointer;
}

.small-spinner {
  .progress-spinner  {
    width: 24px;
    height: 24px;
  }
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.25rem;
}

.text-blue {
  color: #0273E6;
}

.text-dark-blue {
  color: #01254C;
}

.text-gray {
  color: #5C6F82
}

.text-red {
  color: #ff0000
}

.tracking {
  letter-spacing: 0.5px;
}